rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Matches can be read by anyone, but only edited by admins
    match /matches/{matchId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Pages can be read by anyone, but only edited by admins
    match /pages/{pageId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Settings can be read by anyone, but only edited by admins
    match /settings/{settingId} {
       allow read: if true;
       allow write: if request.auth != null;
    }
  }
}